body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #1a1a1a;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.home {
  color: aliceblue;

}
.head {
  margin-top: 30px;
  font-size: 70px;
  font-family: Arial, Helvetica, sans-serif;
}
.draw-frame {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin-left: 20px;
}
.btns {
  display: flex;
  justify-content: space-evenly;
  gap: 60px;
  align-items: center;
  margin-top: 10px
}
.btns button {
  padding: 7px;
  border: none;
  color: aliceblue;
  background-color: rgb(0, 0, 0);
  box-shadow: 0 0px 60px rgba(199, 197, 192, 0.4);
  font-weight: bold;
  border-radius: 4px;
  font-size: 16px;
  margin-top: 4px;
}
.draw-frame h1 {
  margin-bottom: 4px;
  font-size: 30px;
  font-style: oblique;
}

.work-space {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 800px;
  justify-self: center;
  gap: 100px;
}

.dis {
  background-color: #676565;
  height: 280px;
  width: 280px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dis p {
  font-size: 150px;
}

.result-space {
  width: 280px;
  height: 386.09px;
  
}
.result-space h1 {
  margin-bottom: 4px;
  font-size: 30px;
  font-style: oblique
}


